/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
* {
  box-sizing: border-box;
}
:root {
  font-family: 'Montserat', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#startButton,
#createButton {
  background-color: #4e75ff;
  width: 75px;
  height: 40px;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  border: none;
  border-radius: 8px;
}

#createButton {
  width: 360px;
}

#startButton:hover,
#createButton:hover {
  background-color: #6c8cff;
}

#startButton:disabled {
  background-color: #cfcfcf;
}

#datetime-picker,
#delay {
  width: 272px;
  height: 40px;

  letter-spacing: 0.04em;
  text-align: left;
  padding-left: 16px;
  border: 1px solid #808080;
  border-radius: 4px;
}

#delay {
  width: 360px;
}

#datetime-picker:hover,
#delay:hover {
  border: 1px solid #000000;
}

#datetime-picker:focus,
#delay:focus {
  border: 1px solid #4e75ff;
  outline: none;
}

#datetime-picker:disabled {
  border: 1px solid #808080;
  color: #808080;
}

.inputSection {
  margin-left: 156px;
  display: flex;
  gap: 8px;
}

.timer {
  margin-left: 156px;
  display: flex;
  gap: 24px;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 32px;
  align-items: center;
}
.value {
  font-size: 40px;
}

.label {
  font-size: 16px;
}
.flatpickr-day.today {
  border-color: #ffffff !important;
}
.flatpickr-day.selected.today {
  background: #ffffff !important;
  border-color: #4e75ff !important;
  color: black !important;
}

.flatpickr-day.selected {
  background: #4e75ff !important;
  border: none !important;
}

.flatpickr-day:hover {
  background: #c1c1c1 !important;
  border: none !important;
}

.form {
  display: flex;
  flex-direction: column;
  width: 360px;
  gap: 24px;
}

#decision {
  width: 360px;
  height: 64px;
  top: 14px;
  gap: 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  border: 1px solid #808080;
  border-radius: 4px;
  display: flex;
  justify-content: space-around;
}
#decision:hover,
#decision:focus {
  border-color: #000000;
}

#delayform {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
